@media (max-width: 1240px) {
	.header {
		&__btn {
			margin-right: auto;
		}
	}

	.top {
		&__inner {
			grid-template-rows: 220px 390px;
		}

		&__title {
			font-size: 54px;
		}

		&__images {
			max-width: 80%;
		}

		&__promo {
			padding-top: 106px;
			background-position: bottom;

			&-title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			&-text {
				margin-bottom: 10px;
			}

			&-img {
				max-width: 70%;
				margin-bottom: 10px;
			}

			&-btn {
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 1020px) {
	.header {
		&__inner {
			justify-content: flex-end;
		}

		&__logo {
			order: -1;
			margin-right: auto;
		}

		&__menu {
			order: -1;
		}

		&__btn {
			margin: 20px 0 0 150px;
		}
	}

	.top {
		&__inner {
			grid-template-columns: 2fr 3fr;
			grid-template-rows: 200px 350px;
		}

		&__about {
			padding-top: 40px;
		}

		&__title {
			line-height: 1;
		}

		&__slogan {
			padding-left: 60px;
		}

		&__promo {
			&-title {
				margin-bottom: 7px;
			}

			&-text {
				margin-bottom: 5px;
			}

			&-img {
				margin-bottom: 5px;
			}

			&-btn {
				margin-bottom: 10px;
			}
		}
	}

	.footer {
		&__btn {
			margin-top: 20px;
			margin-left: auto;
		}
	}
}

@media (max-width: 770px) {
	.btn {
		font-size: 18px;
		padding: 18px 50px;
	}

	.header__logo {
		img {
			width: 250px;
		}
	}

	.header {
		&__btn {
			margin-inline: auto;
		}
	}

	.top {
		&__inner {
			display: block;
		}

		&__about {
			display: block;
			margin-bottom: 20px;
			padding: 20px;
			background-color: #8f7e70;
			background-image: none;
		}

		&__slogan {
			padding-left: 0;
		}

		&__title {
			font-size: 48px;
			line-height: 1.2;
		}

		&__images {
			max-width: 100%;
		}

		&__promo {
			padding: 20px;
			border-radius: 30px;

			&-title {
				font-size: 20px;
				margin-bottom: 15px;
			}

			&-text {
				margin-bottom: 15px;
			}

			&-img {
				margin-bottom: 15px;
			}

			&-btn {
				margin-bottom: 0;
			}
		}
	}

	.footer {
		&__inner {
			padding: 50px 10px 22px;
		}

		&__contacts-item {
			flex-basis: 100%;
			margin-bottom: 30px;
		}
	}
}