@media (max-width: 1200px) {
	.header {
		&__btn {
			margin-right: auto;
		}
	}
}

@media (max-width: 920px) {
	.header {
		&__inner {
			justify-content: flex-end;
		}

		&__logo {
			order: -1;
			margin-right: auto;
		}

		&__menu {
			order: -1;
		}

		&__btn {
			margin: 20px 0 0 150px;
		}
	}

	.footer {
		&__btn {
			margin-top: 20px;
			margin-left: auto;
		}
	}
}

@media (max-width: 560px) {
	.btn {
		font-size: 18px;
		padding: 18px 50px;
	}

	.logo {
		img {
			width: 250px;
		}
	}

	.header {
		&__btn {
			margin-left: auto;
		}
	}

	.footer {
		&__inner {
			padding: 50px 10px 22px;
		}

		&__contacts-item {
			flex-basis: 100%;
			margin-bottom: 30px;
		}
	}
}