@import 'reset';

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
			 url('../fonts/Inter-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
	     url('../fonts/Inter-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #000000;
	background-color: #000000;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	font-size: 20px;
	font-weight: 700;
	padding: 18px 65px;
	border-radius: 30px;
	text-transform: uppercase;
	background-color: #ffffff;
}

.header {
	margin-bottom: 50px;
	padding-top: 50px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__btn {
		margin-right: 160px;
		margin-left: auto;
	}
}

.footer {
	margin-bottom: 100px;

	&__inner {
		padding: 50px 49px 22px;
		border-radius: 30px;
		background-color: #8f7e70;
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	&__contacts {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.3;
		display: flex;
		flex-wrap: wrap;
	}

	&__contacts-item {
		align-self: start;
		flex-basis: 50%;

		&:first-child {
			margin-bottom: 30px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 36px;
	}

	&__logo {
		flex-basis: calc(50% + 10px);
	}
}

@import 'media';


